<p-dialog
  header="Add client"
  [modal]="true"
  [visible]="isVisible"
  [style]="{ width: '38rem', height: 'fit-content' }"
  (visibleChange)="onCloseModal()"
>
  <form [formGroup]="clientForm">
    <div class="mt-2 flex flex-col gap-y-5 mb-7">
      <p-fileupload
        #fu
        mode="advanced"
        chooseLabel="Client image"
        chooseIcon="pi pi-upload"
        name="demo[]"
        accept="image/*"
        [showCancelButton]="false"
        [showUploadButton]="false"
        previewWidth="50"
        styleClass="h-fit-content flex justify-center flex-col items-center"
        maxFileSize="1000000"
      />

      <div class="flex gap-3 w-full">
        <app-input name="firstName" label="First Name" class="w-full" formControlName="FirstName" />
        <app-input name="lastName" label="Last Name" class="w-full" formControlName="LastName" />
      </div>

      <div class="flex gap-3 w-full">
        <app-input
          name="documentId"
          label="Document Id"
          class="w-full"
          formControlName="DocumentId"
        />
        <app-input
          name="phoneNumber"
          label="Phone number"
          type="number"
          class="w-full"
          formControlName="PhoneNumber"
        />
      </div>

      <div class="flex flex-wrap gap-4">
        @for(gender of genders; track gender){
        <div class="flex items-center">
          <p-radiobutton [value]="gender.code" [inputId]="gender.name" formControlName="Gender" />
          <label [for]="gender.name" class="ml-2">{{ gender.name }}</label>
        </div>
        }
      </div>

      <div>
        <h3 class="font-semibold w-24 whitespace-nowrap mb-3">Legal address</h3>

        <div class="flex gap-3 w-full mb-5">
          <app-input
            name="legalAddressCountry"
            label="Country"
            class="w-full"
            formControlName="LegalAddressCountry"
          />
          <app-input
            name="legalAddressCity"
            label="City"
            class="w-full"
            formControlName="LegalAddressCity"
          />
        </div>

        <app-input
          name="legalAddressLine"
          label="Full address"
          formControlName="LegalAddressLine"
        />
      </div>

      <p-divider styleClass="m-1!" />

      <div>
        <h3 class="font-semibold w-24 whitespace-nowrap mb-3">Actual address</h3>

        <div class="flex gap-3 w-full mb-5">
          <app-input
            name="actualAddressCountry"
            label="Country"
            class="w-full"
            formControlName="ActualAddressCountry"
          />
          <app-input
            name="actualAddressCity"
            label="City"
            class="w-full"
            formControlName="ActualAddressCity"
          />
        </div>

        <app-input
          name="actualAddressLine"
          label="Full address"
          formControlName="ActualAddressLine"
        />
      </div>
    </div>

    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" />
      <p-button label="Save" />
    </div>
  </form>
</p-dialog>
