<p-dialog
  [header]="modalHeader"
  [modal]="true"
  [visible]="isVisible"
  [style]="{ width: '90vw', 'max-width': '38rem', height: 'fit-content' }"
  (visibleChange)="onCloseModal()"
>
  <form [formGroup]="clientForm">
    <div class="mt-2 flex flex-col gap-y-6 mb-7">
      @if(getFileUrl(selectedFile) || profileImage){
      <div class="w-full flex justify-center">
        <p-avatar [image]="getFileUrl(selectedFile) || profileImage" size="xlarge" shape="circle" />
      </div>
      }

      <p-fileupload
        #fu
        mode="advanced"
        chooseLabel="Client image"
        chooseIcon="pi pi-upload"
        name="demo[]"
        accept="image/*"
        [showCancelButton]="false"
        [showUploadButton]="false"
        previewWidth="50"
        styleClass="h-fit-content flex justify-center flex-col items-center"
        maxFileSize="1000000"
        (onSelect)="onFileUpload($event)"
        (onRemove)="onFileRemove()"
      />

      <div class="flex gap-3 w-full">
        <app-input name="firstName" label="First Name" class="w-full" formControlName="firstName" />
        <app-input name="lastName" label="Last Name" class="w-full" formControlName="lastName" />
      </div>

      <div class="flex gap-3 w-full">
        <app-input
          name="documentId"
          label="Document Id"
          class="w-full"
          formControlName="documentId"
        />
        <app-input
          name="phoneNumber"
          label="Phone number"
          type="number"
          class="w-full"
          formControlName="phoneNumber"
        />
      </div>

      <div class="flex flex-wrap gap-4">
        @for(gender of genders; track gender){
        <div class="flex items-center">
          <p-radiobutton [value]="gender.code" [inputId]="gender.name" formControlName="gender" />
          <label [for]="gender.name" class="ml-2">{{ gender.name }}</label>
        </div>
        }
      </div>

      <div>
        <h3 class="font-semibold w-24 whitespace-nowrap mb-3">Legal address</h3>

        <div class="flex gap-3 w-full mb-6">
          <app-input
            name="legalAddressCountry"
            label="Country"
            class="w-full"
            formControlName="legalAddressCountry"
          />
          <app-input
            name="legalAddressCity"
            label="City"
            class="w-full"
            formControlName="legalAddressCity"
          />
        </div>

        <app-input
          name="legalAddressLine"
          label="Full address"
          formControlName="legalAddressLine"
        />
      </div>

      <p-divider styleClass="m-1!" />

      <div>
        <h3 class="font-semibold w-24 whitespace-nowrap mb-3">Actual address</h3>

        <div class="flex gap-3 w-full mb-6">
          <app-input
            name="actualAddressCountry"
            label="Country"
            class="w-full"
            formControlName="actualAddressCountry"
          />
          <app-input
            name="actualAddressCity"
            label="City"
            class="w-full"
            formControlName="actualAddressCity"
          />
        </div>

        <app-input
          name="actualAddressLine"
          label="Full address"
          formControlName="actualAddressLine"
        />
      </div>
    </div>

    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (onClick)="onCloseModal()" />
      <p-button
        label="Save"
        [disabled]="clientForm.invalid || isLoading"
        [loading]="isLoading"
        loadingIcon="pi pi-spin pi-spinner"
        (onClick)="onSubmit()"
      />
    </div>
  </form>
</p-dialog>
