<p-panel styleClass="w-full">
  <div class="flex flex-col items-center justify-center w-full">
    @if(clientImage){
    <p-avatar [image]="clientImage" styleClass="mr-2" size="xlarge" />
    }@else{
    <p-avatar
      [label]="client().firstName[0]"
      styleClass="mr-2 bg-emerald-500! text-white!"
      size="xlarge"
    />
    }

    <div class="flex gap-5 items-center mt-6">
      <h1 class="text-xl">{{ clientName }}</h1>
      <p-button icon="pi pi-pencil" [outlined]="true" (click)="onEditClick()" />
    </div>
    <p-divider />

    <div class="flex gap-8">
      <div class="grid grid-rows-1 gap-5 md:flex md:gap-12">
        @for(item of clientDetailItems; track item.label){
        <div class="flex flex-col items-center justify-center gap-2">
          <h3 class="font-semibold text-center">{{ item.label }}</h3>
          <span class="text-center">{{ item.value }}</span>
        </div>
        }
      </div>
    </div>
  </div>

  <p-divider />

  <div class="mt-8">
    <app-client-account-table
      [accounts]="clientAccounts()"
      [isLoading]="isAccountsLoading()"
      (addAccountClick)="onAddAccountClick()"
      (closeAccountClick)="onCloseAccountClick($event)"
    />
  </div>
</p-panel>

@if(isAccountModalShown()){
<app-account-modal
  [isVisible]="isAccountModalShown()"
  [isLoading]="isAccountDataProcessing()"
  (closeModal)="onAccountModalClose()"
  (submit)="onAddAccountSubmit($event)"
/>
} @if(isClientModalShown()){
<app-client-modal
  [isVisible]="isClientModalShown()"
  (closeModal)="onClientModalClose()"
  (submit)="onModalSubmit($event)"
  [isLoading]="isClientDataProcessing()"
  [client]="client()"
  mode="edit"
/>
}

<p-confirmdialog />
<p-toast></p-toast>
