<div class="flex items-center">
  <div class="whitespace-nowrap relative">
    <span>{{ columnLabel }}</span>

    @if(hasBadge){
    <p-badge styleClass="absolute -top-1 -right-2" />
    }
  </div>
  <p-columnFilter
    type="text"
    display="menu"
    [showMatchModes]="false"
    [showAddButton]="false"
    [showOperator]="false"
    [hideOnClear]="true"
    [showClearButton]="false"
    [showApplyButton]="false"
    (onHide)="onFilterHide()"
  >
    <ng-template #filter>
      <ng-content></ng-content>
    </ng-template>
  </p-columnFilter>
</div>
