<p-dialog
  header="Add account"
  [modal]="true"
  [visible]="isVisible"
  styleClass="w-[28rem] h-[20rem]"
  (visibleChange)="onCloseModal()"
>
  <form class="flex flex-col justify-between h-full" [formGroup]="accountForm">
    <div class="flex flex-col gap-6">
      <p-select
        [options]="accountTypes"
        optionLabel="name"
        optionValue="code"
        placeholder="Select account type"
        styleClass="w-full"
        formControlName="type"
      />

      <p-select
        [options]="currencies"
        optionLabel="name"
        optionValue="code"
        placeholder="Select currency"
        styleClass="w-full"
        formControlName="currency"
      />
    </div>

    <div class="flex justify-end gap-2">
      <p-button label="Cancel" severity="secondary" (onClick)="onCloseModal()" />
      <p-button
        label="Save"
        [disabled]="accountForm.invalid || isLoading"
        [loading]="isLoading"
        loadingIcon="pi pi-spin pi-spinner"
        (onClick)="onSubmit()"
      />
    </div>
  </form>
</p-dialog>

<p-confirmdialog />
