<p-panel>
  <app-clients-table-header
    [sortBy]="clientsStore.filter().SortBy || ClientsSortBy.CreatedAtDesc"
    (clearButtonClick)="onClearFiltersClick()"
    (sortByChange)="onSortByChange($event)"
    (addButtonClick)="onAddButtonClick()"
  />

  <div class="mt-4">
    <app-clients-table
      [clients]="clientsStore.clients()"
      [isLoading]="clientsStore.isLoading()"
      [pageSize]="clientsStore.filter().PageSize || defaultPageSize"
      [pageSizeOptions]="pageSizeOptions"
      [tableHeaders]="tableHeaders"
      [totalRecords]="clientsStore.totalCount()"
      (filtersChange)="onFiltersChange($event)"
      (pageChange)="onPageChange($event)"
      (editClick)="onEditClick($event)"
      (deleteClick)="onDeleteClick($event)"
    />
  </div>

  <p-toast></p-toast>

  @if(isModalShown()){
  <app-client-modal
    [isVisible]="isModalShown()"
    (closeModal)="onCloseModal()"
    (submit)="onModalSubmit($event)"
    [isLoading]="isClientDataProcessing()"
    [client]="clientToEdit()"
    [mode]="modalMode()"
  />
  }
</p-panel>
